* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

#canvas1 {
    position: absolute;
    height: 100%;
    width: 100%;
}

#title {
    background: transparent;
    color: #e9327c;
    z-index: 99;
}